.box {
    width: 400px;
    height: 501px;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h3 {
  text-decoration:underline;
  text-transform:uppercase;
}
